*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	box-sizing: border-box;
}

body{
	background: #9DABB4;
}

.container{
	width : 100%;
	min-height: 100vh;
	padding: 10px;
}

.todo-app{
	width: 100%;
	background: #fff;
	margin: 70px auto 20px;
}

h1{
	font-size: 25px;
}

img{
	width : 24px;
}

.row{
	display: flex;
	align-items: center ;
	justify-content: space-between;
}

ul li{
	list-style: none;
	user-select: none;
}