* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	background: #DDE3E3;
	color:#3D455C;
}

.container {
	width: 100%;
	min-height: 100vh;
	padding: 10px;
}

.todo-app {
	width: 100%;
	background: #9AACB8;
	margin: 70px auto 20px;
	padding: 40px 30px 70px;
	border-radius: 10px;
}

h1 {
	font-size: 25px;
	display: flex;
	align-items: center;
}

img {
	width: 24px;
	margin-left: 8px;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

ul li {
	list-style: none;
	user-select: none;
	padding: 9px 8px 9px 27px;
	position: relative;
}

ul li::before {
	content: '';
	position: absolute;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background-image: url("./assets/radio.png");
	background-size: cover;
	background-position: center;
	left: 8px;
	top: 8px;
}

ul li.checked {
	color: #555;
	text-decoration: line-through;
}

ul li.checked::before {
	background-image: url("./assets/checked.png");
}

ul li span {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 18px;
	color: #555;
	width: 40px;
	height: 40px;
	line-height: 40px;
}